[submodule "core/vendor/spdlog"]
	path = core/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "core/vendor/magic_enum"]
	path = core/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum.git
