**/bin/
bin-int/

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
Makefile

Paplease-Core/vendor/opencv
Paplease-Core/vendor/opencv-build
Paplease-Core/vendor/opencv-install

!vendor/premake/bin

.cache/