**/bin/
bin-int/

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
Makefile

vendor/opencv
vendor/opencv-build
vendor/opencv-install

!vendor/premake/bin

.cache/
